<div class="div">
  <h1>Formulario de contacto</h1>
  <h3>Escríbenos y en breve nos pondremos en contacto contigo</h3>
  <!-- <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)"> -->
  <form>
    <p>
      <label>Nombre<span>*</span></label>
      <input type="text" name="set_name" required="obligatorio" placeholder="Escribe tu nombre"
        value="">
    </p>
    <p>
      <label>Email<span>*</span></label>
      <input type="email" name="set_email" required="obligatorio" placeholder="Escribe tu Email"
        value="">
    </p>
    <p>
      <label>Teléfono<span>*</span></label>
      <input type="tel" name="set_phone" required="obligatorio" placeholder="Escribe tu teléfono"
        value="">
    </p>
    <p>
      <label>Asunto<span>*</span></label>
      <input type="text" name="set_subject" required="obligatorio" placeholder="Escribe un asunto"
        value="">
    </p>
    <p>
      <label>Mensaje<span>*</span></label>
      <textarea name="set_message" required="obligatorio"
        placeholder="Deja aquí tu comentario"></textarea>
    </p>
    <p><button type="submit">Enviar</button></p>
    <p>Los campos marcados con <span class="obligatorio"> * </span> son obligatorios.</p>
  </form>
</div>