<!-- <h1>Angular Router Sample</h1> -->
<nav>
  <a class="button"
     routerLink="/form"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Formulario
  </a> |
  <a class="button"
     routerLink="/list"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    Listado
  </a>
</nav>

<router-outlet></router-outlet>

<div style="display: none;">
  <!-- This HTML represents the initial state for the tutorial. It is not intended to appear in the app. -->
  <!-- <app-original></app-original>
  <app-modified></app-modified> -->

  <!-- This HTML snippet is for when the user first adds the routerlink navigation. -->
  <nav>
    <a class="button" routerLink="/form">Formulario</a> |
    <a class="button" routerLink="/list">Listado</a>
  </nav>
</div>