.div {
    background-color: #fbfbfb;
    height: auto;
    margin: 80px auto auto auto;
    width: 90%;
    text-align:center;
  }
  
  table {
    margin: auto auto auto auto;
    width: 90%;
  }
  
  table, th, td {
    border: 2px solid #44ab5e;
  }
  
  th, td {
    padding: 5px;
  }
  
  p {
    font-size: 16px;
  }
  
  button {
    background-color: #44ab5e;
    border: 2px solid #44ab5e;
    border-radius: 10px;
    height: auto;
    padding: 10px;
    width: auto;
  }
  
  input {  
    border: 2px solid #44ab5e;
    border-radius: 10px;
    height: auto;
    padding: 10px;
    width: 408px;
  }
  
  textarea {
    border: 2px solid #44ab5e;
    border-radius: 10px;
    height: 150px;
    padding: 10px;
    width: 408px;
  }
  
  span {
    color: #8b0303;
  }
  
  .formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
  
  .formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }