<div class="div">
  <h1>Contenido de la base de datos</h1>
  <table width="400" border="1" cellpadding="10" cellspacing="0" bordercolor="#000000">
      <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Subject</th>
              <th>Message</th>
          </tr>
      </thead>
      <tbody>
          <!-- {{#each arrayMongoDBEmployees}} -->
          <tr>
              <!-- <td> {{_id}} </td>
              <td> {{name}} </td>
              <td> {{position}} </td>
              <td> {{office}} </td>
              <td> {{salary}} </td>
              <td> {{createdAt}} </td>
              <td> {{updatedAt}} </td> -->
              <td> <a href="#">Editar</a> </td>
              <td> <a href="#">Eliminar</a> </td>
              <!-- <td> <a href="/edit/{{_id}}">Editar</a> </td>
              <td> <a href="/list/delete/{{_id}}">Eliminar</a> </td> -->
          </tr>
          <!-- {{/each}} -->
      </tbody>
  </table>
</div>